<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SOPA - SoPI Parser</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SOPA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <!--/.navbar -->
    
    <div class="container">      
    
       <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><strong>So</strong>PI <strong>Pa</strong>rser: SOPA</h1>
        <p>Cargue su reporte para extraer automáticamente graficos y estadísticas.</p>
        <p>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <span class="btn btn-default"><input type="file" name="upload" /></span>
                    <input  class="btn btn-primary" type="submit" value="Cargar archivo" />
                </form>
        </p>
      </div> 
      <!-- /.jumbotron -->

    </div>
   <!-- /.container-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
