<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reporte | SOPA - SoPI Parser</title>
    <link href="/statoc/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SOPA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li class="active"><a href="#">Reporte</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <!--/.navbar-->
    
    <div class="container">      
	   <div class="row">
        <div class="col-md-12">
            <h1>Firmas Espectrales</h1>
            <div id="firmas-espectrales-line-bar-chart"></div>
            <a href="#" onclick="return false;" data-toggle="collapse" data-target="#datos-firmas-espectrales" class="btn btn-block btn-info">ver datos</a>
            <div id="datos-firmas-espectrales" class="collapse">
              <table class="table table-striped table-hover table-bordered table-condensed">                  
                  % import math
                  % for i,r in enumerate(reportes):
                     <tr><th class="text-center"><a href="#" onclick="return false;" data-toggle="collapse" data-target="#datos-firma-espectral-{{i}}" class="btn btn-block btn-default">{{r.titulo}}</a></th></tr>
                     <tr id="datos-firma-espectral-{{i}}" class="collapse">
                       <td>
                         <table class="table">
                            <tr><th>Banda</th><th>Media (x&#772;)</th><th>Desviación estándar (&sigma;) </th><th>Varianza (&sigma;<sup>2</sup>)</th></tr>
                            % for b in r.bandas:
                            <tr><td>{{b.nombre}}</td><td>{{b.media}}</td><td>{{math.sqrt(b.varianza)}}</td><td>{{b.varianza}}</td></tr>
                            % end                    
                         </table>
                       </td>
                     </tr>                   
                  % end
              </table>
            </div>
        </div>
      </div>
      <!--/.row-->
      
      <div class="row">
        <div class="col-md-12">
          <h1>Histogramas</h1>
          <div id="bandas-histogram-char"></div>
          <a href="#" onclick="return false;" data-toggle="collapse" data-target="#datos-histogramas" class="btn btn-block btn-info">ver datos</a>
            <div id="datos-histogramas" class="collapse">
              <table class="table table-striped table-hover table-bordered table-condensed">
                  % import math
                  % for r in reportes:
                    % for i,h in enumerate(sorted(r.histogramas)):
                     <tr><th class="text-center"><a href="#" onclick="return false;" data-toggle="collapse" data-target="#datos-histograma-{{i}}" class="btn btn-block btn-default">{{h}}</a></th></tr>
                     <tr id="datos-histograma-{{i}}" class="collapse">
                       <td>
                        <table class="table">
                            <tr><th>Valor</th><th>Frecuencia</th></tr>
                            %for valor,frecuencia in r.histogramas[h]:
                              <tr><td>{{valor}}</td><td>{{frecuencia}}</td></tr>
                            % end
                          </table>
                        </td>
                      </tr>
                    % end                    
                  % end
              </table>
            </div>
        </div>   
       </div>
      <!--/.row-->
    </div>
   <!-- /.container -->

    <script src="/static/jquery/1.12.4/jquery.min.js"></script>    
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plotly/js/plotly.min.js"></script>
    <script>
        var legenda_firmas_espectrales = {title: "Firmas Especrales", xaxis: {title: "Longitud de londa [nm]"}, yaxis: {title: "Relectancia ρ [Arb.]"}};
        Plotly.newPlot('firmas-espectrales-line-bar-chart', {{!firmas_espectrales}}, legenda_firmas_espectrales);
        
        var legenda_histograma = {bargap: 0.05, bargroupgap: 0.2, barmode: "overlay", title: "Histograma", xaxis: {title: "Valor"}, yaxis: {title: "Frecuencia"}};
        Plotly.newPlot('bandas-histogram-char', {{!histogramas}}, legenda_histograma);
    </script>
  </body>
</html>
